* {
    box-sizing: border-box;
}

.container {
    margin-top: 24px;
    margin-bottom: 24px;
}
.gallery {
    display: flex;
    width: 1128px;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

}

.gallery-item {
    max-width: calc((100% - (24px*2))/3);

}

.gallery-image {
    display: block;
    height: 100%;
    width: 360px;
    object-fit: contain;
    object-position: center top;

}

.gallery-image:hover {
    position: relative;
    transform: scale(1.05);
}

.basicLightbox {
    background-color: rgba(46, 47, 66, 0.8);
}